body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 1500px;
    margin:0 auto;
    background-color: lightslategray;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-toprow{
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    padding:  5px 200px;
    flex: auto;
    align-items: center;
}

.header-toprow-left, .header-toprow-right {
    display: flex;
    gap: 25px; 
    align-items:center;
}

.header-toprow-right {
    font-size: 18px;
    align-self: flex-start;
}

.header-bottom {
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    background-color: #1F2937;
    color:#E5E7EB;
    height: 400px;
}
.header-bottom-left {
    padding-right: 50px;
}

.header-bottom-left h1 {
    font-size: 48px;
    font-weight: 900;
}

.header-bottom-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 400px;
    background-color: white;
}

.information-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.information-card-row {
    display: flex;
    justify-content: space-around;
    padding: 30px 300px;
    gap: 70px;
    font-size: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card p {
    text-align: center;
}

.box { 
    width: 150px;
    height: 150px;
    border: 5px;
    border-style:solid;
    border-color: #3882F6;
    border-radius: 20px;
}

button {
    padding: 10px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border:0px;
}



.quote-section {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 400px;
    background-color: #E5E7EB;
    padding: 50px 300px;
    color:#1F2937;
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight: 100;

    text-align: center;
}

.quote-section h4 {
    align-self: flex-end;
    padding-right: 50px;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    font-size: 14px;
}

.content-bottom-section {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.call-to-action {
    height: 130px;
    width: 800px;
    display: flex;
    flex-wrap: none auto;
    justify-content: space-between;
    background-color:#3882F6;
    color: #E5E7EB;
    padding: 40px 100px;
    border-radius: 10px;
}

.cta-left {
    display: flex;
    flex-direction: column;
    gap: 0px 0px;
    justify-content:center;
}

.cta-right {
    display: flex;
    align-self: center;
}

.cta-right button {
    border-color: #E5E7EB;
    border-style:solid;
    border: 5px;
    border-radius: 10px;
}

.call-to-action h5 {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action p {
    font-size: 18px;
}